{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
{% trans "Sign In" %}
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <div class="col-md-8 mt-3 offset-md-2">
            <p>{% blocktrans %}Welcome to Chirp Check, the bird watching tracker app!</p>
            <p>To chirp a new checklist or update an existing one, please log in!</p>
            <p>If you have not created a Chirp Check account yet, then <a class="link" href="{{ signup_url }}">sign up here</a> first!{% endblocktrans %}</p>
        </div>
    </div>
    <div>
        <h3>{% trans "Sign In" %}</h3>
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="d-flex justify-content-center">
                    <button class="btn btn-info right" type="submit">{% trans "Sign In" %} <i class="fa-solid fa-feather"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
