{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center">
    <div class="card" style="padding-top: 2em;">
        <h3 class="text-center"><u>Delete A Checklist</u></h3>
    <div>
        <p>Are you sure you want to delete the following checklist?</p>
    </div>
    <div>
        <ul>
            <li>
                List Name: <b>{{ checklist.list_name }}</b>
            </li>
            <li>
                Location: <b>{{ checklist.description }}</b>
            </li>
            <li>
                Date Created: <b>{{ checklist.created_on | date:"M d, Y" }}</b>
            </li>
        </ul>
    </div>

        <div>
            <div class="d-flex justify-content-center">
                <form method="POST">
                    {% csrf_token %}
                    <input
                        value="Yes, Delete!"
                        class="btn btn-danger"
                        type="submit">
                    <input
                        value="Cancel"
                        type="button"
                        class="btn btn-secondary"
                        onclick="location.href='{% url 'chirpcheck:index' %}'">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}