{% extends "base.html" %}
{% load static %}
{% url "chirpcheck:create" as create_url %}
{% block content %}

<!-- index.html content starts here -->
{% if object_list %}
<h3>My Chirp Checklists!</h3>
{% endif %}
<ul>
    {% for checklist in object_list %}
    <li>
        <div
            role="button"
            onclick="location.href='{% url 'chirpcheck:checklist' checklist.id %}'">
            <h4>{{ checklist.id }}: {{ checklist.list_name }}</h4>
        </div>
        <div>
            <a href="{% url 'chirpcheck:edit_checklist' checklist.id %}"><button>Edit</button></a>
            <a href="{% url 'chirpcheck:delete_checklist' checklist.id %}"><button>Delete</button></a>
        </div>
    </li>
    {% empty %}
    <h4>You have no lists!</h4>
    {% endfor %}
</ul>

<p><a href="{% url 'chirpcheck:create' %}"><button type="button" class="btn btn-primary">Click here to make a new checklist!</button></a></p>


<!-- Things to add:
If option for 
    1. message when there's no lists,
    2. listed view when something is generated. 
    3. need to take into account when logged in/out. -->

</div>
{% endblock %}
<!-- index.html content ends here -->
{% block copyright %}&copy; 2024 Chirp Check. All rights reserved.
{% endblock %}