{% extends "base.html" %}
{% load static %}
{% url "chirpcheck:create" as create_url %}
{% block content %}

<!-- index.html content starts here -->
{% if object_list %}
{% endif %}
<div class="row mb-5">
    <div class="col">
        <div class="card shadow-lg">
            <div class="card-header bg-white text-primary">
                <h3 class="mb-0">Recent Bird Watching Trips</h3>
            </div>
            <div class="card-body">
                <!-- Checklist Table Headings -->
                <table class="table table-striped table-hover align-middle">
                    <thead class="chirp-checklist th">
                        <tr>
                            <th>Checklist</th>
                            <th>Location</th>
                            <th>Date</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <!-- Table body displays checklist data -->
                    <tbody>
                        {% for checklist in object_list %}
                        <tr>
                            <td>
                                <strong> <a role="button"
                                    onclick="location.href='{% url 'chirpcheck:checklist' checklist.id %}'">{{ checklist.list_name }}</a></strong>
                            </td>
                            <td>{{ checklist.description }}</td>
                            <td>{{ checklist.created_on|date:"F j, Y, g:i a" }}</td>
                            <td>
                                <a href="{% url 'chirpcheck:edit_checklist' checklist.id %}"><button><i class="fa-solid fa-feather"></i> Edit</button></a>
                            </td>
                            <td>
                                <a
                                    href="{% url 'chirpcheck:delete_checklist' checklist.id %}"><button><i class="fa-solid fa-trash-can"></i> Delete</button></a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-muted">
                                <h4>You have no lists!</h4>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <p><a href="{% url 'chirpcheck:create' %}"><button type="button" class="btn btn-primary">Click here to make a new checklist!</button></a></p>
</div>

{% endblock %}
<!-- index.html content ends here -->
{% block copyright %}&copy; 2024 Chirp Check. All rights reserved.
{% endblock %}