{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <div>
        <div>
            <h3>Bird Checklist:</h3>
            <h5>{{ check_list.list_name | upper }}</h5>
        </div>
        <ul>
            {% for check_list in object_list %}
            <li>
                    <div
                        role="button"
                        onclick="location.href='#'">
                        {{ check_list.list_name }}
                        Birds Sighted at {{ checklist.description }}
                        (Created: {{ checklist.created_on | date:"l, F j" }})
                    <!-- Button to navigate to the edit page -->
                        <a href="{% url 'chirpcheck:edit_checklist' checklist.id %}">Edit this checklist</a>

                    </div>
            </li>
            {% empty %}
            <p>There are no birds in this list yet!</p>
            {% endfor %}
        </ul>
        <div>
        <p>
            <input
                value="Add a bird"
                type="button"
                onclick="location.href='#'" />
        </p>
    </div>
</div>
{% endblock %}