{% extends "base.html" %}
{% load static %}
{% block content %}

<section>
    <div class="my_check_list">
        <h2>{{ check_list.list_name | upper }}</h2>
    </div>
    <ul>
        <li><h3>{{ checklist.list_name }}</h3></li>
        <li>
            LOCATION: {{ checklist.description }}<br />Date Created: {{ checklist.created_on }}
        </li>
    </ul>
</section>

<!-- Loop through the birds in this checklist -->
<section>
    <h3>Bird Sightings</h3>
    <ul>
        {% for bird in checklist.bird_set.all %}
        <li>
            <div class="bird-entry">
                <strong>{{ bird.bird_name }}</strong> 
                - Status: 
                <span class="status-toggle" id="status-{{ bird.id }}">
                    {% if bird.status == "Spotted" %}
                        <span class="spotted">Spotted</span>
                        <span class="bird-count" id="bird-count-{{ bird.id }}"> ({{ bird.number_seen }})</span>
                    {% else %}
                        <span class="not-seen">Not Seen</span>
                    {% endif %}
                </span>
                
                <!-- Add Number Seen field only when Spotted -->
                <div id="number-seen-{{ bird.id }}" class="number-seen">
                    {% if bird.status == "Spotted" %}
                        <input type="number" value="{{ bird.number_seen }}" min="1" id="count-input-{{ bird.id }}">
                    {% endif %}
                </div>

                <!-- Button to toggle bird status -->
                <button class="toggle-status-btn button-seen" onclick="toggleStatus({{ bird.id }})">
                    I saw one!
                </button>

                <!-- Button to delete bird from checklist -->

            </div>
        </li>
        {% empty %}
            <p>No birds sighted yet!</p>
        {% endfor %}
    </ul>
</section>

<!-- Button to Add a Bird to the checklist -->
<p>
    <a href="{% url 'chirpcheck:add_bird' checklist.id %}">
        <button>Add a Bird</button>
    </a>
</p>

<!-- Button to delete the checklist -->
<p>
    <a href="{% url 'chirpcheck:delete_checklist' checklist.id %}">
        <button>Delete this Checklist</button>
    </a>
</p>
<!-- Button to return to checklist index -->
<p>
    <a href="{% url 'chirpcheck:index' %}">
        <button class="btn btn-info">Back to My Checklists</button>
    </a>
</p>

{% endblock %}