/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/** Browser Overide **/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  margin-top: 0 !important;
}

/* Remove margin and padding from the navbar */
.navbar {
  margin-top: 0;
  padding-top: 0;
}

/* Remove any top padding from the container inside the navbar */
.container-fluid {
  padding-top: 0;
}

/* Body */
body {
  display:flex;
  background-color: #7fc0e6;
  color: #1c4b8d;
  font-family: 'Lato', sans-serif;
  margin: 1rem;
  min-height: 100vh;
  width: 100%;
  background: url(https://res.cloudinary.com/dahsksyzw/image/upload/v1734052195/black-capped-chickadee-hi_clker_ggmnco.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left center;
}

main {
  flex: 1 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  font-family: 'Condiment', sans-serif;
}

.chirp-logo {
  font-family: 'Condiment', sans-serif;
  font-size: 45px;
  list-style-type: none;
  color:#1c4b8d;
}

.my_check_list {
  align-content: center;
  justify-content: space-evenly;
  list-style-type: none;
}

/* Messages */

.alert {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}


/* general body styling */
div {
  margin: 1em;
}

ul, li {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

/* bird list styling */

.custom_card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 100%;
  max-width: 600px;
  max-height: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Checklist details layout */
.checklist_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.left_side {
  flex: 1;
  text-align: left;
}

.right-side {
  text-align: right;
}

.bird_card {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  max-height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.center-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* birds number_seen styling */

.number-seen {
  display: none;  /* Initially hidden */
}

.number-seen input {
  width: 50px;
  padding: 5px;
}

.status-select {
  padding: 5px;
}

.button-seen {
  margin-top: 10px;
}

.toggle-status-btn {
  transition: opacity 0.3s ease;
}

.toggle-status-btn.faded {
  opacity: 0.5;
}


/* sign in page styling */
.signin_container {
  display: flex;
  justify-content: center;  /* Horizontally center the content */
  align-items: center;  /* Vertically center the content */
}

/* sign out page styling */
.signout-container {
  display: flex;
  justify-content: center;  /* Horizontally center the content */
  align-items: center;  /* Vertically center the content */
}

/* Styling for the card */
.signout-card {
  width: 20rem;  /* Specify a fixed width for the card */
  padding: 1.5rem;  /* Add some padding inside the card */
  background-color: #fff;
}

/* sign-in page responsiveness for smaller screens */

#intro, #sign-in {
  width: 90%;
  margin: 10px auto;
  padding: 0 20px;
}

/* Footer */
footer {
  display: flex;
  left: 0;
  bottom: 1.5rem;
  padding: 20px 0;
  width: 100%;
  height: 2.5rem;
  justify-content: space-evenly;
  list-style-type: none;
}

/* For screens 550px or smaller */
@media (max-width: 550px) {
}