{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Django-Setup</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div>
        <h1 onclick='location.href={% url "index" %}'>
            Bird Watching Checklist!
        </h1>
    </div>
    <div>
        {% block content %}
        This placeholder content will be replaced with different html code for each page.
        {% endblock %}
    </div>
</body>

</html>